/* LandingPage.css */

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh; /* Ensures full viewport height */
  padding: 20px;
}

.landing-container {
  max-width: 50%; /* Limits width of left container */
  text-align: center;
}

.right-container {
  max-width: 50%; /* Limits width of right container */
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(#87ceeb, #ffc5c5);
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 30px;
}

.landing-buttons {
  display: flex;
  gap: 20px;
  margin-left: 175px;
}

.landing-button {
  border: 0;
  outline: none;
  background: linear-gradient(270deg, #ff994f, #fabd86);
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.landing-button:hover {
  background-color: #45a049;
}

.right-container #observablehq-chart-aec61c29 {
  width: 100%; /* Ensures chart takes full width of container */
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
